<!–– NEF-27  ––>

{% extends 'base.html' %}
{% load static %}


{% block includes %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css"/>
<link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="{% static 'Proyectos/styles.css' %}">
{% endblock includes %}

{% block scripts %}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% if perms.Beneficiarios.view_beneficiario %}
<script>
    var dt_table = undefined;
    var setUpDataTable = function(){
        var URL = '{% url 'Beneficiarios:beneficiarios_json' %}';

        if(dt_table != undefined){
            dt_table.destroy();
        }
        var data = {};
        if($('#categoria').val() != 'none'){
            data.categoria = $('#categoria').val();
        }

        data.jornada = {{ jornada.id }};

        dt_table = $('#beneficiarios_table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
            },
            order: [[ 0, "asc" ]],
            responsive: true,
            columnDefs: [
                {
                    name: 'id',
                    orderable: true,
                    searchable: true,
                    targets: [0]
                },
                {
                    name: 'nombre',
                    orderable: true,
                    searchable: true,
                    targets: [1]
                },
                {
                    name: 'apellido_paterno',
                    orderable: true,
                    searchable: true,
                    targets: [2]
                },
                {
                    name: 'apellido_materno',
                    orderable: true,
                    searchable: true,
                    targets: [3]
                },
                {
                    name: 'sexo',
                    targets: [4],
                    orderable: false,
                    searchable: false,
                },
                {
                    name: 'de_seguimiento',
                    targets: [5],
                    orderable: true,
                    searchable: false,
                },
                {
                    name: 'clasificacion',
                    targets:[6],
                    orderable: false,
                    searchable: false,
                },
                {
                    name: 'edad',
                    targets: [7],
                    orderable: false,
                    searchable: false,
                },
                {
                    name: 'activo',
                    targets: [8],
                    orderable: true,
                    searchable: false,
                }
            ],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
                url: URL,
                data: data
            }
        });
    };


    $(document).ready(function() {setUpDataTable()});
</script>

<script>
    $(document).ready(function(){
        $('#categoria').on('change', function(){
            setUpDataTable()
        });
    });
</script>
{% endif %}
{% endblock scripts %}

{% block content %}
<div class="container-fluid pt-4 pb-4">
    <div class="card">
        <div class="card-body card-info">
            <div class="row ml-4 pb-3">
                <div class="col-md-2">
                    {% if perms.Proyectos.change_jornada %}
                    <a href="{% url 'admin:Proyectos_jornada_change' jornada.id %}" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Editar"><i class="fa fa-edit"></i></a>
                    {% endif %}
                <br>
                    {% if perms.Proyectos.delete_jornada and vacio %}
                    <a href="{% url 'Proyectos:jornada_delete' jornada.id %}" class="btn btn-danger mt-3" data-toggle="tooltip" data-placement="right" title="Borrar"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </div>
                <div class="col-md-8 text-center viewparameters">
                    <h2>{{ jornada.nombre }} </h2>
                </div>
            </div>
            <div class="row justify-content-center py-2">
                <div class="col-12 col-md-1 ml-4 mr-1"><i class="fas fa-hashtag"></i> {{ jornada.id }}</div>
                <div class="col-12 col-md-auto mr-5"><i class="fas fa-calendar-alt"></i> {{ jornada.fecha }}</div>
                <div class="col-12 col-md-auto mr-5"><i class="fas fa-map-marker"></i> {{ jornada.localidad}}, {{ jornada.municipio}}, {{ jornada.estado}} </div>
                <div class="col-md-2 viewparameters text-right">
                    <a href="{% url 'Reportes:reportes_jornada_view' jornada=jornada.id %}"><i class="fas fa-chart-bar"></i> Reportes </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% block jornada_content %}
<h5><a href="{% url 'admin:Formularios_evaluacionplaticas_add' %}">Evaluaciones</a> <a href="{% url 'admin:Formularios_evaluacionplaticas_add' %}"><i class="fas fa-plus-square icon-add"></i></a></h5>
<h2>Beneficiarios <a href="{% url 'Beneficiarios:beneficiarios_create' id_jornada=jornada.id %}"><i class="fas fa-plus-square icon-add"></i></a></h2>
<div class="row mb-2">
    <div class="col-12 col-md-3 offset-md-4 col-lg-2 offset-lg-8 text-right align-center">
        <label for="categoria">Filtrar por clasificación:</label>
    </div>
    <div class="col-12 col-md-5 col-lg-2">
        <select id="categoria" class="custom-select form-control">
            <option value="none" selected>Todos</option>
            <option value="Sin datos">Sin datos</option>
            <option value="G1">G1</option>
            <option value="G2">G2</option>
            <option value="G3">G3</option>
            <option value="G4">G4</option>
            <option value="G5">G5</option>
            <option value="discrepancia">Discrepancia</option>
        </select>
    </div>
</div>
{% if perms.Beneficiarios.view_beneficiario %}
<table id="beneficiarios_table" class="datatable table table-hover table-striped">
    <thead>
    <th>Folio</th>
    <th>Nombre</th>
    <th>Apellido paterno</th>
    <th>Apellido materno</th>
    <th>Sexo</th>
    <th>De Seguimiento</th>
    <th>Clasificación</th>
    <th>Edad</th>
    <th>Activo</th>
    </thead>
    <tbody></tbody>
</table>
{% endif %}
{% endblock jornada_content %}

{% endblock content %}
