<!--
  NEF-46
-->
{% extends "Beneficiarios/beneficiario_detail.html" %}
{% load static %}
{% block includes %}
<link rel="stylesheet" href="{% static 'Formularios/styles.css' %}">
<link rel="stylesheet" href="{% static 'Beneficiarios/styles.css' %}">
{% endblock includes %}

{% block antecedentes %}{% endblock antecedentes %}

{% block beneficiario-content %}
<div>
  <br>
  <div class="container">
    <div class="card">
      <h5 class="card-header text-center">Nota del Nefrólogo</h5>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="container-fluid">
            <input value="{{ beneficiario.id }}" type="hidden" name="beneficiario">
            <div class="row">
              <div class="col-6"></div>

              <div class="col-sm-3">
                {{ form.fecha_creacion }}
              </div>
            </div>

            <div class="row pb-3">
              <div class="col">
                <label for="" class="labelsFormulario">{{ form.nota.label }}</label>
                <div class="">
                  {{ form.nota }}
                </div>
              </div>
            </div>

          </div>
          <br><br>
          <div class="clearfix">
            <input class="btn float-right btn-save" type="submit" value="Guardar">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock beneficiario-content %}

{% block scripts %}

<script type="text/javascript">
<script src="{% static 'js/formularios.js' %}"></script>
{% endblock scripts %}
